# Esse arquivo serve para demonstrar todas as variaveis de ambiente necessarias
DATABASE_URL=""
JWT_SECRET=seu_segredo_muito_longo_e_aleatorio_aqui_minimo_32_chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=outro_segredo_diferente_para_refresh_token
JWT_REFRESH_EXPIRES_IN=7d