<nav class="navbar">
	<ul class="navbar-links">
		<li><a href="/painel" class="navbar-brand">Página inicial</a></li>
		<li><a href="/painel/entregas">Entregas</a></li>
		<li><a href="/painel/motoristas">Motoristas</a></li>
	</ul>
</nav>
